*.dSYM
simulateArrayLetsHeap
simulateArrayLetsHeap2
offHeapSimulationMac
offHeapSimulationMac2
offHeapSimulationMacDoubleMap
offHeapSimulationX
offHeapSimulationAIX
offHeapSimulationAIX2
offHeapSimulationWin
consumeFileDescriptor
.vscode
test
test.cpp
AssemblyTest.cpp
testeteste.c
TestSmart.cpp
*.o
**.o
